:root {
  --dark: black;
  --midOrange: rgb(34, 0, 35);
  --midRed: rgb(0, 25, 38);
  --light: rgb(93, 198, 255);
  --lightP: rgb(248, 57, 255);
}

body {
  display: flex;
  background-color: var(--dark);
  flex-direction: column;
}

h1 {
  margin-left: -30px;
  text-align: center;
  width: 100%;
  background-color: var(--midOrange);
  color: var(--light);
  padding: 30px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
  background-color: var(--midRed);
}

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--lightP);
  font-size: 35px;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  height: 200px;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.splashPage {
  cursor: pointer;
  position: fixed;
  text-align: center;
  top: 57%;
  left: 50%;
  height: 77%;
  width: 75%;
  transform: translate(-50%, -50%);
  background: var(--midOrange);
  transition: all ease-in-out 600ms;
}

.splashText {
  height: 75%;
  color: var(--light);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.btn {
  border: var(--light);
  border-radius: 10px;
  background-color: var(--dark);
  display: inline-block;
  color: var(--lightP);
  padding: 15px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
}

.btn:hover {
  box-shadow: 3px 4px 3px var(--light);
}

.btn:active {
  transform: translate(1px, 2px);
}
