:root {
  --dark: black;
  --darkPurple: rgb(34, 0, 35);
  --darkBlue: rgb(0, 25, 38);
  --light: rgb(93, 198, 255);
  --muted: rgba(149, 218, 255, 0.445);
  --mutedP: rgba(190, 79, 194, 0.5);
  --lightP: rgb(248, 57, 255);
}

body {
  display: flex;
  background-color: var(--dark);
  flex-direction: column;
}

h1 {
  margin-left: -30px;
  text-align: center;
  width: 100%;
  background-color: var(--darkPurple);
  color: var(--light);
  padding: 30px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

#leaderboard {
  flex: 1;
  justify-content: center;
  width: 25%;
  height: 800px;
  margin-left: 50px;
  background-color: var(--darkPurple);
}

.quizContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  height: 800px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: var(--darkBlue);
}

.timerDisplay {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 800px;
  margin-right: 50px;
  font-size: 100px;
  text-align: center;
  color: var(--light);
  background-color: var(--darkPurple);
}

#correctChecker {
  color: var(--muted);
}

#wrongChecker {
  color: var(--mutedP);
}

#penalty {
  color: var(--lightP);
  font-size: 60px;
}

.leaderboard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--lightP);
}

.leaderboard li {
  display: inline-block;
  width: 200px;
  justify-content: space-evenly;
  text-align: center;
  color: var(--lightP);
  list-style-type: none;
  font-size: 24px;
}

.leaderboard h2 {
  font-size: 30px;
  display: inline-block;
  color: var(--light);
  text-align: center;
  height: 10%;
  width: 100%;
}

#leaderboardBoard {
  display: flex;
  color: var(--light);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light);
  width: 100%;
  height: 60%;
  color: var(--lightP);
}

.questionsArea {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark);
  color: var(--lightP);
  font-size: 35px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.answersArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  height: 300px;
  width: 500px;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
}

#inputInitials:visible {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--lightP);
}

.choicesBtn {
  background-color: var(--darkBlue);
  color: var(--lightP);
  padding: 10px;
  width: 210px;
  height: 100px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 2px 1px var(--darkPurple);
  margin: 10px;
}

.choicesBtn:hover {
  cursor: pointer;
  top: 5px;
  border-radius: 10px;
}

.choicesBtn:active {
  border: 1px solid var(--lightP);
}

.btn-grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.splashPageContainer {
  cursor: pointer;
  position: fixed;
  text-align: center;
  top: 57%;
  left: 50%;
  height: 90%;
  width: 95%;
  transform: translate(-50%, -50%);
  background: var(--darkPurple);
  transition: all ease-in-out 600ms;
}

.splashTextP {
  height: 75%;
  color: var(--light);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  transition: 0.5s;
  display: none;
}

#startBtn {
  border: 1px solid var(--lightP);
  border-radius: 10px;
  background-color: var(--dark);
  display: inline-block;
  color: var(--lightP);
  padding: 15px;
  width: 150px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

#startBtn:hover {
  box-shadow: 3px 4px 3px var(--light);
}

#startBtn:active {
  transform: translate(1px, 2px);
}

#playAgainBtn {
  margin-top: 10px;
  border: 1px solid var(--lightP);
  border-radius: 10px;
  background-color: var(--dark);
  display: inline-block;
  color: var(--lightP);
  padding: 15px;
  width: 150px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

#playAgainBtn:hover {
  box-shadow: 3px 4px 3px var(--light);
}

#playAgainBtn:active {
  transform: translate(1px, 2px);
}

#submitBtn {
  border: 1px solid var(--lightP);
  border-radius: 10px;
  background-color: var(--dark);
  display: inline-block;
  color: var(--lightP);
  padding: 15px;
  width: 150px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

#submitBtn:hover {
  box-shadow: 3px 4px 3px var(--light);
}

#submitBtn:active {
  transform: translate(1px, 2px);
}

#clearLeader {
  border: 1px solid var(--lightP);
  border-radius: 10px;
  background-color: var(--dark);
  display: inline-block;
  color: var(--lightP);
  padding: 15px;
  width: 200px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

#clearLeader:hover {
  box-shadow: 3px 4px 3px var(--light);
}

#clearLeader:active {
  transform: translate(1px, 2px);
}
